<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map.locationpicker">

  <application
      android:supportsRtl="true">

    <activity
        android:name="com.map.locationpicker.LocationPickerActivity"
        android:label="@string/title_activity_place_picker"/>
  </application>

</manifest>